header .background-container {
  background: #666686;
}

.background-container {
  background: url('../res/header.svg') !important;
  overflow: hidden;
  height: 100%;
}

.home .background-container {
  background-position-y: -2.5rem;
  height: auto;
}

/* 576px */
@media only screen and (min-width: 36em) {
  header .background-container {
    padding: 0 3rem;
  }
  .home .background-container {
    height: 400px;
  }
}

@media screen and (min-width: 42em) {
}
