.preview {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
  background: linear-gradient(180deg, #eee 0%, #ddd 80%, #aaa 100%);
}

.about {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.preview .title,
.preview .description {
  /*display: inline-flex;
  justify-content: center;
  align-items: center;*/
  text-align: left;
  padding: 0 0.5rem 0.5rem;
}

.preview .title {
  font-size: 2rem;
}

.preview .description {
  /*position: absolute;*/
  z-index: 1;
  bottom: 0;
  width: calc(100% - 2rem);
  /*background: rgba(255, 255, 255, 0.6);*/
}

.videoContainer {
  margin-top: 5px;
  min-width: 200px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.videoContainer > iframe {
  position: absolute;
  height: 220px;
}

.thumbnailContainer {
  overflow: hidden;
  height: 270px;
}

.thumbnail {
  /*position: absolute;*/
  transition: all 400ms ease-out;
  margin-top: -45px;
}

.thumbnail.hidden {
  opacity: 0.2;
  filter: blur(5px);
}

/* Hide Play button + controls on iOS */
video::-webkit-media-controls {
  /*display: none !important;*/
}
