.projects .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (min-width: 36em) {
  .projects .container {
    padding: 1rem 0;
  }
}

@media only screen and (min-width: 46em) {
  .projects .container {
    padding: 5rem 1rem;
  }
}

@media only screen and (min-width: 56em) {
  .projects .container {
    padding: 5rem 5rem;
  }
}
