<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ page.title }}</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap-theme.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap-table.min.css') }}">
  </head>
  <body>
    {{ content }}
  </body>
</html>
