.App {
  text-align: center;
  font-family: sans-serif;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* For animating transitions between routed components */

.transition-wrapper {
  position: relative;
  z-index: 1;
  margin-top: 2.5rem;
  height: calc(100% - 2.5rem); /* Subtract header height */
}

.transition-wrapper > div {
  overflow: hidden; /* Mysterious bugfix so the header won't move */
}

.transition-item {
  position: fixed;
  top: 2.5rem;
  right: 0;
  left: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

.transition-appear {
  opacity: 0;
}

.transition-appear.transition-appear-active {
  opacity: 1;
}
.transition-leave {
  opacity: 1;
}

.transition-leave.transition-leave-active {
  opacity: 0;
}
