header {
  color: white;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  /*background: rgba(140, 140, 140, 0.5);
  background: linear-gradient(135deg, #ccc 0%, #999 50%, #ccc 100%);*/
  background: #17234e;
  height: 2.5rem;
}
header a {
  display: inline-block;
  padding: 0 0.5rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: all 100ms;
  text-shadow: 1px 1px 3px hsla(0, 0%, 35%, 1);
}
header a:hover {
  text-shadow: 2px 2px 4px hsla(0, 0%, 15%, 1);
}
header a.active {
  text-shadow: 3px 3px 15px hsla(0, 0%, 0%, 1);
}
header > .title {
  font-weight: lighter;
  font-size: 0.9em;
  margin: 0;
  padding-left: 0.5rem;
  height: 100%;
  display: inline-flex;
  align-items: center;
}

/* 384px */
@media only screen and (min-width: 24em) {
  header a {
    padding: 0 0.7rem;
  }
}
/* 576px */
@media only screen and (min-width: 36em) {
  header {
    padding: 0 3rem;
  }
}
