.header-menu {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

/* 384px */
@media only screen and (min-width: 24em) {
  .header-menu {
    padding: 0 0.7rem;
  }
}
