.preview {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
  background: linear-gradient(180deg, #fff 0%, #eee 80%, #aaa 100%);
  flex-direction: column-reverse;
}

.preview:first-child {
  margin-top: 2.5rem;
}

@media screen and (min-width: 52em) {
  .preview {
    flex-direction: row;
    min-height: calc(100vh - 2.5rem);
  }
}

.about {
  width: 90%;
  height: 50%;
  margin: 2rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 52em) {
  .about {
    width: 60%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 72em) {
  .about {
    width: 100%;
  }
}

.preview .title,
.preview .description,
.preview .moreDescription {
  text-align: left;
  padding: 0 0.5rem 0.5rem;
}

.preview .title {
  font-size: 2rem;
}

.preview .description {
  z-index: 1;
  bottom: 0;
  width: calc(100% - 2rem);
}

.preview .moreDescription {
  margin: 2rem 2rem 4rem;
}

.preview .moreDescription.desktop {
  display: none;
  margin: 0;
  padding-top: 1rem;
}

@media screen and (min-width: 52em) {
  .preview .moreDescription.mobile {
    display: none;
  }
  .preview .moreDescription.desktop {
    display: block;
  }
}

.preview .centeringContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
